html {
	height: 95%;
}

body {
	background: url("steve.png"), url("steve.png");
	background-position: left 2% top, right 2% top;
	background-repeat: repeat-y, repeat-y;
	background-color: #b30000;
	display: flex-vertical;
	text-align: center;
	align-items: center;
	height: 100%;
}

h1 {
	font-size: 48px;
	margin: 0;
	padding 15px;
}

h1, h3 {
	align-text: center;
}

main {
	background-color: whitesmoke;
	margin: auto;
	width: 65%;
	height: 100%;
	display: flex-vertical;
	align-items: center;
	padding: 15px;
	border-radius: 10px;
}

hr {
	border: 0;
	height 1px;
	background: #333;
	background-image: linear-gradient(ro right, #ccc, #333, #ccc);
}

input {
	width: 75px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:nth-child(odd) {
	background-color: whitesmoke;
}

tr:nth-child(even) {
	background-color: light-grey;
}

td {
	text-align: center;
	padding: 5px;
	width: 15%;
}

#error {
	color: orange;
}

.remove {
	align-self: center;
}
